Repository caveeroo/Infractory-TFG, changes with the labels that .github/labeler.yml gives for each.
All labels: root, Documentation, Java, CSS, HTML, Config, Docker, Nebula, SSH, Secrets, Infrastructure

.github/labeler.yml:

# Label for any changes in the root directory
root:
- changed-files:
  - any-glob-to-any-file: '*'

# Label for any changes in the documentation files
Documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'

# Label for any changes in the Java source files
Java:
- changed-files:
  - any-glob-to-any-file: 'src/main/java/**/*.java'
  - any-glob-to-any-file: 'src/test/java/**/*.java'

# Label for any changes in the CSS files
CSS:
- changed-files:
  - any-glob-to-any-file: 'src/main/resources/static/css/**/*.css'

# Label for any changes in the HTML templates
HTML:
- changed-files:
  - any-glob-to-any-file: 'src/main/resources/templates/**/*.html'

# Label for any changes in the configuration files
Config:
- changed-files:
  - any-glob-to-any-file: 'src/main/resources/application*.properties'
  - any-glob-to-any-file: 'src/main/resources/logback-spring.xml'
  - any-glob-to-any-file: 'src/tsconfig.json'
  - any-glob-to-any-file: 'build.gradle'
  - any-glob-to-any-file: 'src/main/java/com/tfg/infractory/config/**/*.java'

# Label for any changes in the Docker-related files
Docker:
- changed-files:
  - any-glob-to-any-file: 'src/main/resources/static/css/docker.css'
  - any-glob-to-any-file: 'src/main/resources/templates/docker/**/*.html'
  - any-glob-to-any-file: 'src/main/java/com/tfg/infractory/infrastructure/docker/**/*.java'

# Label for any changes in the Nebula-related files
Nebula:
- changed-files:
  - any-glob-to-any-file: 'src/main/resources/static/css/nebula-management.css'
  - any-glob-to-any-file: 'src/main/resources/templates/nebula/**/*.html'
  - any-glob-to-any-file: 'src/main/java/com/tfg/infractory/infrastructure/nebula/**/*.java'

# Label for any changes in the SSH keys management files
SSH:
- changed-files:
  - any-glob-to-any-file: 'src/main/resources/static/css/ssh-keys-management.css'
  - any-glob-to-any-file: 'src/main/resources/templates/ssh-keys/**/*.html'
  - any-glob-to-any-file: 'src/main/java/com/tfg/infractory/infrastructure/ssh/**/*.java'

# Label for any changes in the secrets management files
Secrets:
- changed-files:
  - any-glob-to-any-file: 'src/main/resources/static/css/secrets-management.css'
  - any-glob-to-any-file: 'src/main/resources/templates/secrets/**/*.html'
  - any-glob-to-any-file: 'src/main/java/com/tfg/infractory/infrastructure/secrets/**/*.java'

# Label for any changes in the infrastructure creation files
Infrastructure:
- changed-files:
  - any-glob-to-any-file: 'src/main/resources/static/css/infrastructure-creation.css'
  - any-glob-to-any-file: 'src/main/resources/templates/infrastructure/**/*.html'

Create LICENSE
  LICENSE
Labels: root

Update README.md
  README.md
Labels: root, Documentation

Update .env
  .env
Labels: root

Fix v2 lifecycle review findings
  v2/apps/agent/internal/tasks/executor.go
  v2/apps/agent/internal/tasks/executor_test.go
  v2/apps/control-plane/src/adapters/pulumi-infrastructure.ts
  v2/apps/control-plane/src/services/environment-service.ts
  v2/apps/control-plane/src/services/operation-service.ts
  v2/apps/control-plane/src/services/workload-service.ts
  v2/apps/control-plane/test/control-plane.test.ts
  v2/apps/control-plane/test/provider-sanitization.test.ts
Labels: none

Address follow-up lifecycle review
  v2/apps/agent/internal/tasks/executor.go
  v2/apps/agent/internal/tasks/executor_test.go
  v2/apps/control-plane/src/adapters/pulumi-infrastructure.ts
  v2/apps/control-plane/src/services/operation-service.ts
  v2/apps/control-plane/src/services/workload-service.ts
  v2/apps/control-plane/test/control-plane.test.ts
Labels: none

Fix pending generation persistence
  v2/apps/control-plane/src/db/migrations.ts
  v2/apps/control-plane/src/db/postgres-store.ts
  v2/apps/control-plane/src/services/agent-service.ts
  v2/apps/control-plane/test/control-plane.test.ts
  v2/apps/control-plane/test/postgres.test.ts
Labels: none

Fix agent command identity
  v2/apps/control-plane/src/services/agent-service.ts
  v2/apps/control-plane/src/services/operation-service.ts
  v2/apps/control-plane/test/control-plane.test.ts
Labels: none
